.commentlist-enter {
    opacity: 0.01;
}

.commentlist-enter.commentlist-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.commentlist-leave {
    opacity: 1;
}

.commentlist-leave.commentlist-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}